body { 
        background: url(bridge.jpeg); 
        background-repeat: no-repeat; 
        background-attachment: fixed; 
        background-size: cover; 
        font-family: Garamond,serif; 
        padding: 20px 60px; 
        color:white; 
        font-size: 20px; 
        text-align: left;} 
    .button { 
        background-color: darkseagreen; 
        border-radius: 18px;
        color: black; 
        font-family: Ubuntu,sans-serif; 
        font-size: 14px; 
        padding: 20px 20px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        margin: 4px 2px; 
        cursor: pointer; 
        width: 20%; 
        opacity: 0.9; }
